h1 
{font-family: calibri;
font-size: 50px;
font-weight: 1000;
color: blue;
font-variant: small-caps;
font-style: italic;
}
p
{font-family: 'Times New Roman', Times, serif;
font-size: 20px;
line-height: 50px;
} 