/* ini koment */
h1
    {color: #bbbcda;
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    }
p
    {text-align: justify;
    text-indent: 10%;
    word-spacing: 4px;
}

a {text-decoration: none;}



