h1,h2 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    color: cornflowerblue;}
       
body{font-family: sans-serif;}

ol li a{color: crimson;}

ul li a{color: cyan;}